/bin/*
/lib/*
/cfg/*
/tmp/*
/doc/*
!/doc/bmxstyle.css
/docs/html
/src/createrelease/BlitzMax/*
*.x86.s
*.x86.o
*.x86.a
*.x86.i
!mod/brl.mod/blitz.mod/blitz_ex.*.s
!mod/brl.mod/blitz.mod/blitz_ftoi.*.s
!mod/brl.mod/blitz.mod/blitz_gc.*.s
